<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="">
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.password">root</property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/bookwriter</property>
  <property name="hibernate.connection.username">root</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <property name="current_session_context_class">thread</property>
  <property name="hibernate.hbm2ddl.auto">update</property>
  <mapping class="com.bookwriter.model.Part"/>
  <mapping class="com.bookwriter.model.Book"/>
  <mapping class="com.bookwriter.model.Comment"/>
  <mapping class="com.bookwriter.model.User"/>
  <mapping class="com.bookwriter.model.Genre"/>
  <mapping class="com.bookwriter.model.Story"/>
  <mapping class="com.bookwriter.model.Message"/>
  <mapping class="com.bookwriter.model.Video"/>
 </session-factory>
</hibernate-configuration>
