#include("./pageHeader.vm")


<div id="toptitle"><h1>$springMacroRequestContext.getMessage("title.search")</h1></div>
</div>
<div id="maincont">
	
<!-- HERE SHOULD BE SEARCH DIV -->
<script type="text/javascript" src="js/search.js">
</script>
<span class="label">Search:</span><br/>
<div class="roundcont" id="roundcont" >
	<div id="searchContentPanel" class="searchContentPanel">
    <table >
        <tr>
            <td id="searchInputContainer"></td><td><img src="css/view.png"   
	           width="15" height="15" onclick="search()" onmouseover="this.className='searchIconOver'" onmouseout="this.className='searchIcon'" /></td>       
        </tr>
    </table>
    </div>  

	<script>
    	var pane = new Pane("News", "What to search");
    	pane.show();
	</script>
</div>

<br/>
	<span class="label">$springMacroRequestContext.getMessage("search.results")</span><br/>
  	#foreach ($part in $parts) 
		  <h2><div class="byline">$part.datetime by $part.user.login</div></h2>
  		  <p>$part.shorttext</p>
  		  <a name="$part.partId"/>
		  <br/>
	#end
  	
</div>


<div id="rightcont">

#if($authz.principal == "guest") 
	<form action="j_spring_security_check">
		<span class="label">Name:</span><br/>
		<input name="j_username" id="j_username" type= "text" /><br/>
		<span class="label">Password:</span><br/>
		<input name="j_password" id="j_password" type= "password" /><br/>
		<input type="submit"/>
		<input type='checkbox' name='_spring_security_remember_me' /> Remember
me on this computer. <br />
	</form>
#end
#if($authz.principal != "guest") 
<form action="j_spring_security_logout" method="POST">
Welcome, ${authz.principal}!
<input name="exit" type="submit" value="Logout"/>
#end
</div>

#include("./pageBottom.vm")