<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<!-- this template was designed by http://www.tristarwebdesign.co.uk - please visit for more templates & information - thank you. -->
<head>
<title>enter page title here</title> <!-- change to whatever you want as the title for your website -->
<meta name="description" content=" " /> <!-- enter a description for your website inside the " " -->
<meta name="keywords" content=" " /> <!-- enter a a string of keywords that relate to your website inside the " " -->
<meta http-equiv="Content-Language" content="ru-ru" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="css/style.css" />
 	<script type="text/javascript" src="openwysiwyg_v1.4.7/scripts/wysiwyg.js"></script>
		<script type="text/javascript" src="openwysiwyg_v1.4.7/scripts/wysiwyg-settings.js"></script>
		<!-- 
			Attach the editor on the textareas
		-->
		<script type="text/javascript">
			// Use it to attach the editor to all textareas with full featured setup
			//WYSIWYG.attach('all', full);
			
			
			// Use it to display an iframes instead of a textareas
			//WYSIWYG.display('all', full);  
		</script>
</head>
<body>
<div id="topcont">
	<div id="topmenu">
		<ul>
			<li><a title="home" href="home.x">home</a></li>
			<li><a title="services" href="index.html">services</a></li>
			<li><a title="company information" href="index.html">company information</a></li>
			<li><a title="latest news" href="index.html">latest news</a></li>
			<li><a title="contact us" href="index.html">contact us</a></li>
		</ul>
	</div>
	<div id="toptitle"><h1>								$springMacroRequestContext.getMessage("title.home")</h1></div>
</div>
<div id="maincont">
  <p>$mes</p>
</div>


<div id="rightcont">

#if($authz.principal == "guest") 
	<form action="j_spring_security_check">
		<span class="label">Name:</span><br/>
		<input name="j_username" id="j_username" type= "text" /><br/>
		<span class="label">Password:</span><br/>
		<input name="j_password" id="j_password" type= "password" /><br/>
		<input type="submit"/>
		<input type='checkbox' name='_spring_security_remember_me' /> Remember
me on this computer. <br />
	</form>
#end
#if($authz.principal != "guest") 
				<form action="j_spring_security_logout" method="POST">
Welcome, ${authz.principal}!
<input name="exit" type="submit" value="Logout"/>
#end
</div>



<div id="footercont">
	<ul>
		<li><a title="home" href="index.html">home</a></li><li>|</li>
		<li><a title="services" href="index.html">services</a></li><li>|</li>
		<li><a title="company information" href="index.html">company information</a></li><li>|</li>
		<li><a title="latest news" href="index.html">latest news</a></li><li>|</li>
		<li><a title="contact us" href="index.html">contact us</a></li><li>|</li>
		<li>template design by <strong><a title="derby uk web design" href="http://www.tristarwebdesign.co.uk">derby uk web design</a></strong></li>
	</ul>
</div>

</body>
	</html>